
:root {
    --primary-color: #f39c12;
    --background-color: #2c3e50;
    --text-color: #ecf0f1;
    --container-bg: transparent;
    --transition-speed: 0.3s;
}

body.light-mode {
    --background-color: #f5f6fa;
    --text-color: #2f3640;
    --primary-color: #e67e22;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color var(--transition-speed), color var(--transition-speed);
}

.container {
    text-align: center;
    padding: 2rem;
    border-radius: 20px;
    background-color: var(--container-bg);
}

.theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    border: none;
    background-color: var(--primary-color);
    color: var(--background-color);
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: all 0.2s;
}

.theme-toggle:hover {
    transform: scale(1.1);
}

h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.lotto-numbers {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

lotto-ball {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), inset 0 -3px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

lotto-ball:hover {
    transform: scale(1.1);
}

#generate-button {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}

#generate-button:hover {
    background-color: #f1c40f;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

#generate-button:active {
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
